
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
 .text-primary{
color:#FD6E0A;
 }


.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 18px 35px;
}












/*nav related style*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}
/* these are nav related style */

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;


}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.banner .profile-pic{
    width: 500px;

}


.banner-greeting{
font-size: 45px;
color: #474747;
margin-bottom: 0;
}
.banner-title{
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}

.banner-description{
    margin-top: none;
}

.banner-content{
    max-width: 500px;
}



.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}





.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container{
display: flex;
justify-content: space-around;
}

.about-info{
    text-align: center;

}
#what{
    padding: 30px 150px;
}

.skills{
    padding:20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-container{
    display: flex;
    margin-bottom: 150px;
}
.rhead{
    text-align: center;
    text-decoration: underline;
}

.resume-mother{
    display: flex;
    gap: 50px;
}


.resume-btn{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 100px;
}



footer{
    background-color: #FFF8F3;
    height:780px;
display: flex;
padding-top: 140px;
}

.fcontact{
    width: 550px;
    margin: 0 auto;

}

.fform{
    width: 450px;
    margin: 0 auto;

}
input{
    display: block;
    width: 420px;
    height: 55px;
    margin: 22px 0px;

}
#btf{
display: block;
}
.tarea{
    height: 180px;
    width: 200px;
}

i{
    height: 25px;
    width: 25px;
    margin-right: 20px;
}
input::placeholder{
    margin-left: 30px;
}